{% extends 'base.html.twig' %}

{% block header_title %}
    <h1 class="text-white">Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}
{% block body_class %}homepage{% endblock %}

{% block body %}

    <div class="row my-5">
        <div class="col-md-4 text-center">
            {% if app.user %}
                <a href="{{ path('task_new') }}" class="btn btn-outline-secondary">Créer une nouvelle tâche</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-outline-secondary">Se connecter pour ajouter une tâche</a>
            {% endif %}
        </div>
        <div class="col-md-4 text-center">
            <a href="{{ path('task_list_to_do') }}" class="btn btn-outline-secondary">Consulter la liste des tâches à faire</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="{{ path('task_list_done') }}" class="btn btn-outline-secondary">Consulter la liste des tâches terminées</a>
        </div>
    </div>
{% endblock %}
