{{ form_start(form) }}
{% if not form.vars.valid %}
    {% for child in form.children %}
        {%for error in child.vars.errors%}
            <div class="alert alert-danger">{{error.message}}</div>
        {%endfor%}
    {%endfor%}
{%endif%}
<div class="label_title mt-4">{{ form_label(form.title, 'Titre', {'attr': {'class': 'title'}}) }}</div>
{{ form_widget(form.title, {'attr': {'class': 'form-control mb-4'}}) }}

<div class="label_content mt-4">{{ form_label(form.content, 'Détail', {'attr': {'class': 'content'}}) }}</div>
{{ form_widget(form.content, {'attr': {'class': 'form-control mb-4'}}) }}

<button class="btn btn-primary mt-4">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
