{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1>Edit Task</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="mt-5 btn btn-outline-secondary" href="{{ path('task_index') }}">Retour à la liste des tâches</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
