{% extends 'base.html.twig' %}

{% block header_title %}<h1 class="text-white">Liste des tâches</h1>{% endblock %}

{% block body %}
    {% if tasks|length == 0 %}
        <div class="alert alert-warning my-5 d-flex justify-content-between align-items-center" role="alert">
            Il n'y a pas encore de tâche enregistrée.
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}<a href="{{ path('task_new') }}"
                                                                 class="btn btn-warning pull-right">Créer une tâche</a>
            {% else %}
                <span>Vous devez être connecté pour ajouter une tâche.</span>
            {% endif %}
        </div>
    {% else %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('task_new') }}" class="btn btn-primary"><span>Créer une tâche</span></a>
        {% else %}
            <div class="alert alert-warning my-5 d-flex justify-content-between align-items-center" role="warning">
                <span>Vous devez être connecté pour ajouter une tâche.</span>
            </div>
        {% endif %}
        {% for task in tasks|reverse %}
            <div class="card my-4 {% if task.isDone %} border-success{% endif %}">
                <div class="card-body {% if task.isDone %}d-flex justify-content-between{% endif %}">
                    <div class="d-flex justify-content-between">
                        <h4 class="d-flex justify-content-between">{{ task.title }}{% if task.isDone %}<i
                                    class="fa fa-check text-success" aria-hidden="true"></i>{% endif %}</h4>
                        {% if not task.isDone %}
                            <h5 class="text-right">Tâche ajoutée par {{ task.user.username }} le {{ task.createdAt|date("m/d/Y") }}</h5>
                        {% endif %}
                    </div>
                    {% if not task.isDone %}<p>{{ task.content|nl2br }}</p>{% endif %}
                    <div class="d-flex justify-content-end">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') -%}
                            <form action="{{ path('task_done', {'id' : task.id }) }}">
                                <button class="btn  {% if task.isDone %} btn-outline-success {% else %} btn-success {% endif %} btn-sm mr-2">
                                    {% if task.isDone %}Ré-ouvrir{% else %}Terminée{% endif %}
                                </button>
                            </form>
                            <form action="{{ path('task_edit', {'id' : task.id }) }}">
                                <button class="btn btn-outline-secondary btn-sm mr-2">Modifier</button>
                            </form>
                        {% endif %}
                        {% if app.user %}
                            {% if task.user.username is same as(app.user.username) or is_granted('ROLE_ADMIN') %}
                                {{ include('task/_delete_form.html.twig') }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
