{% extends 'base.html.twig' %}

{% block title %}Nouvelle Tâche{% endblock %}

{% block body %}
    <h1>Ajouter une tâche</h1>
    <div class="row">
        <div class="col-md-6">
            {{ include('task/_form.html.twig') }}
        </div>
    </div>

    <a class="mt-5 btn btn-outline-secondary" href="{{ path('task_index') }}">Retour à la liste des tâches</a>
{% endblock %}
