{{ form_start(form) }}
{% if not form.vars.valid %}
    {% for child in form.children %}
        {%for error in child.vars.errors%}
            <div class="alert alert-danger">{{error.message}}</div>
        {%endfor%}
    {%endfor%}
{%endif%}
<div class="label_username mt-4">{{ form_label(form.username, 'Nom', {'attr': {'class': 'username'}}) }}</div>
{{ form_widget(form.username, {'attr': {'class': 'form-control mb-4'}}) }}

<div class="label_email mt-4">{{ form_label(form.email, 'Email', {'attr': {'class': 'email'}}) }}</div>
{{ form_widget(form.email, {'attr': {'class': 'form-control mb-4'}}) }}

<div class="label_password mt-4">{{ form_label(form.password, 'Mot de passe', {'attr': {'class': 'password'}}) }}</div>
{{ form_widget(form.password, {'attr': {'class': 'form-control mb-4'}}) }}

<div class="label_roles mt-4">{{ form_label(form.roles, 'Rôle', {'attr': {'class': 'roles'}}) }}</div>
{{ form_widget(form.roles, {'attr': {'class': 'form-control mb-4'}}) }}

<button class="btn btn-primary mt-4">{{ button_label|default('Ajouter un utilisateur') }}</button>
{{ form_end(form) }}

