{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <h1>Edit User</h1>
    <div class="row">
        <div class="col-md-6">
            {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>

    <a class="mt-5 btn btn-outline-secondary" href="{{ path('user_index') }}">retour à la liste des utilisateurs</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
