{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1 class="text-white">Liste des utilisateurs</h1>{% endblock %}

{% block body %}
    {% if users|length == 0 %}
        <div class="alert alert-warning my-5 d-flex justify-content-between align-items-center" role="alert">
            Il n'y a pas encore d'utilisateur enregistré. <a href="{{ path('user_new') }}" class="btn btn-warning pull-right">Ajouter un utilisateur</a>
        </div>
    {% else %}
        <a href="{{ path('user_new') }}" class="btn btn-primary">Ajouter un utilisateur</a>
        <div class="row mt-4">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom d'utilisateur</th>
                    <th>Adresse d'utilisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ path('user_edit', {'id' : user.id}) }}" class="btn btn-success btn-sm">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
