{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un nouvel utilisateur</h1>
    <div class="row">
        <div class="col-md-6">
            {{ include('user/_form.html.twig') }}
        </div>
    </div>

    <a class="mt-5 btn btn-outline-secondary" href="{{ path('user_index') }}">retour à la liste des utilisateurs</a>
{% endblock %}
